.card {
  display: inline-block;
}

@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }
  .gallery {
    column-count: 2;
  }
  .head {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .gallery {
    column-count: 4;
  }
}

.jumbotron {
  background-color: #7986cb;
}

body {
  background-color: #979ec5;
}

.circleLink {
  color: white;
}

.circleLink:hover {
  color: #7986cb;
}

.circle-info {
  break-inside: avoid-column;
}
